<p style="color: green"><%= notice %></p>


<div class="text-center">
  <!-- <h1>Twitters</h1> -->
</div>

<div>
  <%= form_with url: twitters_path, method: :get do |form|%>
    <%= form.text_field :twitter, value: params[:twitter]%>
    <input class="btn btn-primary" type="submit" value="Buscar">
  <%end%>
</div>
<br>
<hr>

<div id="twitters">
  <% @twitters.each do |twitter| %>
    <%= render twitter %>
  <% end %>
</div>
<br>
<hr>
<%== pagy_bootstrap_nav(@pagy) %>
